<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616952621095-oq2sqb6thj6qpnuqr62om8ped5fo04s3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616952621095-oq2sqb6thj6qpnuqr62om8ped5fo04s3</string>
	<key>API_KEY</key>
	<string>AIzaSyAIL_r9_xFpI0fcPfoW304mYPIUjExGEn8</string>
	<key>GCM_SENDER_ID</key>
	<string>616952621095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rubendias.CouchClub.Staging</string>
	<key>PROJECT_ID</key>
	<string>couchclub-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>couchclub-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616952621095:ios:6f6724f0c7599a8ca04602</string>
	<key>DATABASE_URL</key>
	<string>https://couchclub-staging.firebaseio.com</string>
</dict>
</plist>