<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575074388434-re2jitgmu0hqkc54sgema4ebd7phere1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575074388434-re2jitgmu0hqkc54sgema4ebd7phere1</string>
	<key>API_KEY</key>
	<string>AIzaSyBs7-5yCeQMUjE6_S57GVvHFmSlGQudCQw</string>
	<key>GCM_SENDER_ID</key>
	<string>575074388434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rubendias.CouchClub</string>
	<key>PROJECT_ID</key>
	<string>couchclub-98747</string>
	<key>STORAGE_BUCKET</key>
	<string>couchclub-98747.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575074388434:ios:eec5a749bee5e2b696a00b</string>
	<key>DATABASE_URL</key>
	<string>https://couchclub-98747.firebaseio.com</string>
</dict>
</plist>